<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<mappers>
		<mapper resource="mybatis/mappers/users.xml"/>
		<mapper resource="mybatis/mappers/sharing.xml"/>
		<mapper resource="mybatis/mappers/filedb.xml"/>
		<mapper resource="mybatis/mappers/free.xml"/>
		<mapper resource="mybatis/mappers/donation.xml"/>
		<mapper resource="mybatis/mappers/likes.xml"/>
		<mapper resource="mybatis/mappers/message.xml"/>
		<mapper resource="mybatis/mappers/apply.xml"/>
		<mapper resource="mybatis/mappers/business.xml"/>
		<mapper resource="mybatis/mappers/sell.xml"/>
		<mapper resource="mybatis/mappers/notice.xml"/>
		<mapper resource="mybatis/mappers/review.xml"/>
	</mappers>
</configuration>

	

