
.kakaoids{
	position: relative;
    right: -85%;
    top: -23%;
}
#applymodal{
    position: relative;
    right: -4%;
    height: 35px;
    background:none;
    border:none;
    top:0%;
}


 #modal {
    display: none;
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1;
}
        
 
 #modal .modal_content {
   width: 25%;
   height: 55%;
   top: 10%;
   margin:5% auto;
   padding: 1%;
   text-align: center;
   background:#fff;
   border-radius: 10px;
   border:2px solid #666;
   position:relative;
 }
 
 #modal .modal_layer {
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:100%;
   background:rgba(0, 0, 0, 0.5);
   z-index:-1;
 }  
 
.modal .item .title {
    height: 10rem;
    position: relative;
}

.modal .item .title:after {
	content: '';
    display: block;
    width: 100%;
    border-top: 2px solid navy;
}
.hr2{
 	position: relative;
    background-color: gray;
    width: 70%;
    bottom: 26%;
    height: 1px;
    width: 84%;
    left: 6%;
 } 
.modal ul {
  font-size: 0;
  padding-left:0;
}


.modal .modal_content .item:nth-child(-n+3){
  margin-top: 0;
}
.modal .modal_content .item:nth-child(3n-2){
  margin-left: 0;
}


.modal .modal_content .item .title p {
   font-size: 12px;
    text-align: center;
    padding-top: 17%;
    width: 114%;
    margin-left: -18px;
}
.modal .item strong {
    display: block;
    font-size: 17px;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: -35px;
}
.modal .modal_content .item .allapply .form .cont {
 	padding: 11px;
    height: 56%;
    display: flex;
    margin-bottom: 75px;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
}

.modal .modal_content .item .allapply .form .btn{
  top: -27%;  
  position: relative;
}
.modal .modal_content .item .allapply .form .btn ::before{
  content: '';
  left: 20;
  right: 20;
  top: 0;
  position: absolute;
  height: 1.5px;
  width: auto 230px;
  background: #ddd;
}

#aname {
     position: relative;
    left: 11%;
    height: 24px;
    width: 30%;
    margin-top: -38px;
}
.modal .modal_content .item .allapply .form .cont .adre {
  display: flex;
  height: 37px;
  width: 122%;
  padding-top: 10px;
  padding-bottom: 10px;
}
#aaddress{
   position: relative;
   left: 15%;
   width: 58%;
}
#aad_bt{
  	width: 19%;
    margin-left: 57px;
    border: 1.5px solid #ddd;
    border-radius: 9px;
    font-size: 0.7rem;
    font-weight: bold;
    background-color: #ddd;
    cursor: pointer;
    text-align: center;
}
#aphone{
  position: relative;
  height: 25px;
  width: 56%;
  left: 11%;
}
.modal .modal_content .item .allapply .form .cont .wei{
  display: flex;
  height: 28px;
  padding-top: 9px;
  margin-left: -21px;
  padding-bottom: 8px;
  justify-content: space-evenly;	
}
#weight{
  	position: relative;
    width: 30%;
    left: 27%;
}
.modal .modal_content .item .allapply .form .cont .wei p {
  	margin-left: -29px;
    font-size: 1.1rem;
    margin-top: 0px;
    position: relative;
    left: 23%;
}
#apickup{
   position: relative;
   height: 22px;
   width: 57%;
   margin-top: 8px;
   left: 11%;
}
#applycloth{
  display: inline-block;
    margin-top: 13px;
    margin-left: 179px;
    margin-bottom: 9px;
    padding: 6px;
    background: rgb(23,162,184);
    border: 1px solid rgb(23,162,184);
    border-radius: 0.25rem;
    color: white;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -1px;
    cursor: pointer;
}
#modal_close_btn{
 display: inline-block;
    margin-top: 14px;
    margin-left: 52px;
    margin-bottom: 9px;
    padding: 6px;
    background: #ddd;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    color: black;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -1px;
    cursor: pointer;
}

