@charset "UTF-8";
.star,
.star1 {
	background: url('/image/graystar.png') no-repeat;
	background-size: 32px;
	width: 32px;
	height: 32px;
	border: none;
	cursor: pointer;
	color: transparent;
}
.star.yellow,
.star1.yellow {
	background: url('/image/yellowstar.png') no-repeat;
	background-size: 32px;
	width: 32px;
	height: 32px;
	border: none;
	cursor: pointer;
	color: transparent;
}

.stars {
	display: flex;
}

.buyProductWrap {
	width: 1000px;
	margin: 0 auto;
	margin-bottom: 25%;
}

.card2, .card-body, .card-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card2 {
	border-radius: 18px;
	background: #fff;
	box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.4);
	overflow: hidden;
	cursor: pointer;
	transition: transform 0.4s;
	width: 210px;
}

.card2:hover {
	transform: scale(1.05);
	box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.2);
}