@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
 * {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
}
#chatContainer {
  margin: -1rem;
}
#greenchat {
  width: 30px;
  height: 30px;
}
h5 {
  margin: 0;
  color: white;
}
#chatHeader {
  display: flex;
  background-color: #42A7A1;
  font-size: 2em;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}
.chatMessageInfo {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem;
  padding-left: 1rem;
  border-bottom: 1px solid #ddd;
  margin: 2em;
}
#user {
  display: flex;
  margin: 10px;
}
#usericon {
  width: 15px;
  height: 15px;
}
#wrapSellerTitle {
	width: 80%;
}
#title {
  margin-bottom: 1%;
}
#sellerName {
  font-size: small;
  color: gray;
}
#alert {
  width: 10%;
}


