@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'JSongMyung-Regular-KO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/JSongMyung-Regular-KO.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

	* {
		font-family:san
		s-serif;
	}
	.container { width:500px;}
	.input-group-text {
		display: inline-block;
		width:90px;
	}
	.title {
		text-align: center;
		font-weight: bold;
	}
	
	a {
		text-decoration: none;
	}

@font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
}

@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}



@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');


html,
body {
	height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: GyeonggiBatang;
}

ul,
li {
  list-style: none;
}

#wrap {
    height: auto;
    min-height: 100%;
    position: relative;
    padding-bottom:15.5%;
    margin-bottom:1%;
}
	
.container { width:500px;}
.input-group-text {
	display: inline-block;
	width:90px;
}



.title {
	text-align: center;
	font-weight: bold;
}





 
/* header */
body {
  box-sizing: border-box;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(64, 64, 64);
}

header {
  background-color: rgba(0, 118, 190,0);
  position: relative;
  height: 80px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  letter-spacing: -1px;
  box-shadow: 0 3px 7px rgb(0 0 0 / 10%);
}

#topMenu {
  display: flex;
  justify-content: flex-end;
  padding-left: 5px;
  padding-top: 5px;
  width: 1000px;
  margin: 0 auto;
  z-index: 1;
}

#logoMenu {
	width: 1000px;
	margin: 0 auto;
	position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    display: flex;
    align-items:center;
}

#logo {
	margin-right: 50px;
}

#logo img {
  display: block;
  width: 75px;
}

#headerMenu {
	display: flex;
}

#headerMenu a:nth-child(1) {
	margin-right: 5px;
} 

#headerMenu a {
  background: rgb(28 26 26 / 26%);;
  border-radius: 5px;
  color: white;
  padding: 4px;
  font-size: 11px;
  display: flex;
  align-items: center;
}

.headerMenuBar {
    position: static;
    display: flex;
    flex: 0.8;
    top: 13px;
    background-color: rgba(0, 118, 190,0);
  	color: rgb(64, 64, 64);
    padding-bottom: 0;
    width: 700px;
  }
  
  .headerMenuBar>ul {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }

.headerMenuBar ul {
	color: rgb(64, 64, 64);
}

.hederMenuList {
    position: relative;
    margin-bottom: 0;
    height: 45px;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
    .hederMenuList span {
    display: inline-block;
  }
  
.hederMenuList>a {
  color: rgb(64, 64, 64);
}

 .sideMenu {
 	display:none;
    position: absolute;
    left: 0;
    top: calc(100%);
    margin: 0;
    padding: 10px 10px;
    z-index: 99;
    background: #fff;
    box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .hederMenuList:hover {
  	color: rgb(0, 118, 190);
  }
  
  .hederMenuList:hover .sideMenu {
	display: block;
  }

.sideMenu li {
  margin-bottom: 10px;
}

.sideMenu li a {
  color: rgb(64, 64, 64);
}

.toggle {
  display: block;
}

.inline {
  display: inline;
}




