@charset "UTF-8";
	* {
		font-family:sans-serif;
	}
	.container { width:500px;}
	.input-group-text {
		display: inline-block;
		width:90px;
	}
	.title {
		text-align: center;
		font-weight: bold;
	}

/* footer */
div#footer		{ background:#515151; color: #FFF }
div#footer p	{ margin:0;padding:5px 10px }
