
@charset "UTF-8";
	* {
		font-family:san
		s-serif;
	}
	.container { width:500px;}
	.input-group-text {
		display: inline-block;
		width:90px;
	}
	.title {
		text-align: center;
		font-weight: bold;
	}

@font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
}

*,
body {
	font-family: 'LeferiPoint-BlackA';
}
	
.container { width:500px;}
.input-group-text {
	display: inline-block;
	width:90px;
}
.title {
	text-align: center;
	font-weight: bold;
}


/* footer */
div#footer		{ background:#515151; color: #FFF }
div#footer p	{ margin:0;padding:5px 10px }

/* header */
body {
  margin: 0;
  padding: 0;
}
header {
  background-color: rgb(0, 118, 190);
  padding: 40px;
}

.headerButton {
  background-color: rgb(94, 94, 94);
  color: white;
  border-radius: 5px;
  border: none;
}

.searchForm form {
	display: flex;
	justify-content: flex-end;
}

.searchForm form input {
	margin: 5px;
}

#navBar ul,
li {
  list-style: none;
  color: white;
}

#navBarUl {
  display: flex;
  justify-content: space-between;
}