@charset "UTF-8";
ul,
li {
	list-style: none;
}
.headerContainer {
	max-width: 1500px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
} 

.logo {
	width: 100px;
}

.navbar-nav {
	display: flex;
}

.d-flex {
    align-items: center;
}