* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	min-height: 100vh;
	width: 100%;
}

/* list */
:root {
  --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
  --gray: #34495e;
  --darkgray: #2c3e50;
}

a {
  text-decoration: none;
  color: inherit;
}

#individualHtml {
	overflow-y: scroll;
}

#individualBody {
	min-height: 101%;
}

#individualList{
  width: 1000px;
  margin: 100px auto;
}

#individualListSubject {
  margin-bottom: 30px;
  font-size: 3rem;
  text-align: left;
  padding: 0;
}

.search-box {
  width: 200px;
  position: relative;
  display: flex;
	bottom: 0;
	left: 0;
	right: 0;
}

#search_form {
	width: 200px;
	position: relative;
	display: flex;
	bottom: 0;
	left: 0;
	right: 0;
}

.search-input {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 9px 45px 9px 9px;
  background-color: #fff;
  color: #6c6c6c;
  border-radius: 6px;
  border:1px solid #b8c6db;
  transition: all .4s;
}

.search-input:focus {
  border:none;
  outline:none;
  box-shadow: 0 1px 12px #b8c6db;
  -moz-box-shadow: 0 1px 12px #b8c6db;
  -webkit-box-shadow: 0 1px 12px #b8c6db;
}

.search-btn {
  background-color: transparent;
  font-size: 18px;
  padding: 6px 9px;
  margin-left:-45px;
  border:none;
  color: #6c6c6c;
  transition: all .4s;
  z-index: 10;
}

.search-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: black;
}

.search-btn:focus {
  outline:none;
  color:black;
}

#buttonAndSelect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.bt_wrap {
  text-align: left;
  font-size: 0;
}

.bt_wrap a {/*수정,목록 버튼*/
  display: inline-block;
  min-width: 60px;
  padding: 6px;
  border: 1px solid rgb(23,162,184); /*테두리*/
  border-radius: 6px;
  font-size: 1.5rem;
}

.bt_wrap a.on {
  background-color: #17a2b8;
  border-color: #17a2b8; /*등록버튼 색깔*/
  color: white;
}

.bt_wrap a.on:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  grid-gap: 3em;
  margin: 0 auto;
  justify-content: center;
}

.card, .card-body, .card-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card {
	border-radius: 18px;
	background: #fff;
	box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.4);
	overflow: hidden;
	cursor: pointer;
	transition: transform 0.4s;
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.2);
}

.card-image {
	display: block;
	position: relative;
	height: 180px;
	width: 100%;
}

.individualStatus {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: black;
    opacity: 0.4;
    color: white;
    width: 63%;
    text-align: center;
    font-size: 30px;
    line-height: 2;
    border-radius: 2px;
}

.card-image img {
	max-height: 100%;
	width: 100%;
	background-size: cover;
	object-fit: cover;
}

.card-body {
	padding: 20px 28px;
	width: 100%;
}

.card-body .date {
	font-weight: bolder;
}

.card-body h2 {
	font-size: 1.3em;
	margin: 2px auto 12px;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	width: 100%;
}

.card-body p {
	color: gray;
	font-size: 1.1em;
	line-height: 22px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}

.card-footer {
	width: 100%;
	display: grid;
	border-top: 1px solid rgb(238, 238, 238);
  text-align: center;
}