* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	min-height: 100vh;
	width: 100%;
}
/*맨 위 사진 부분*/
.news-detail-header-section-sell {
  background-image: url('/image/medium-shot-people-collecting-donations.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
}

/* list */
:root {
  --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
  --gray: #34495e;
  --darkgray: #2c3e50;
}

a {
  text-decoration: none;
  color: black
  ;
}

#individualHtml {
	overflow-y: scroll;
}
#individualheader {
	margin: 0 auto;
}
#individualBody {
	min-height: 101%;
}

#individualList{
  width: 1000px;
  margin: 100px auto;
}

#individualListSubject {
  margin-bottom: 30px;
  font-size: 3rem;
  text-align: left;
  padding: 0;
}

.search-box {
  width: 200px;
  position: relative;
  display: flex;
	bottom: 0;
	left: 0;
	right: 0;
}

#search_form {
	width: 200px;
	position: relative;
	display: flex;
	bottom: 0;
	left: 0;
	right: 0;
}

.search-input {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 9px 45px 9px 9px;
  background-color: #fff;
  color: #6c6c6c;
  border-radius: 6px;
  border:1px solid #b8c6db;
  transition: all .4s;
}

.search-input:focus {
  border:none;
  outline:none;
  box-shadow: 0 1px 12px #b8c6db;
  -moz-box-shadow: 0 1px 12px #b8c6db;
  -webkit-box-shadow: 0 1px 12px #b8c6db;
}

.search-btn {
  background-color: transparent;
  font-size: 18px;
  padding: 6px 9px;
  margin-left:-45px;
  border:none;
  color: #6c6c6c;
  transition: all .4s;
  z-index: 10;
}

.search-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: black;
}

.search-btn:focus {
  outline:none;
  color:black;
}

#buttonAndSelect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.bt_wrap {
  text-align: left;
  font-size: 0;
}

.bt_wrap a {/*수정,목록 버튼*/
  display: inline-block;
  min-width: 60px;
  padding: 6px;
  border: 1px solid rgb(23,162,184); /*테두리*/
  border-radius: 6px;
  font-size: 1.5rem;
}

.bt_wrap a.on {
  background-color: #17a2b8;
  border-color: #17a2b8; /*등록버튼 색깔*/
  color: white;
}

.bt_wrap a.on:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

.card-list {
  display: flex;
  grid-gap: 1em;
  margin: 0 auto;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card, .card-body, .card-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card {
	border-radius: 18px;
	background: #fff;
	box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.4);
	overflow: hidden;
	cursor: pointer;
	transition: transform 0.4s;
	width: 210px;
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.2);
}

.card-image {
	display: block;
	position: relative;
	height: 180px;
	width: 100%;
}

.individualStatus {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: black;
    opacity: 0.4;
    color: white;
    width: 63%;
    text-align: center;
    font-size: 30px;
    line-height: 2;
    border-radius: 2px;
}

.card-image img {
	max-height: 100%;
	width: 100%;
	background-size: cover;
	object-fit: cover;
}

.card-body {
	padding: 20px 28px;
	width: 100%;
}

.card-body .priceAndDate {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.card-body .date,
.card-body .price {
	font-weight: bolder;
}

.card-body .date {
	font-size: 0.8em;
}

.card-body h2 {
	font-size: 1.3em;
	margin: 2px auto 12px;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	width: 100%;
}

.card-body p {
	color: gray;
	font-size: 0.7em;
	line-height: 22px;
	text-align: center;
	width: 100%;
}

.card-footer {
	width: 100%;
	display: grid;
	border-top: 1px solid rgb(238, 238, 238);
  text-align: center;
}
/* insert */
h1 {
	text-align: center;
	padding: 50px;
}

#imgcontainer {
	display: flex;
}

#textarea {
	width: 600px;
}

.form-group {
	display: flex;
	align-items: center;
}

#sel1 {
    width: 110px;
    margin-right: 25px;
}

#price {
	width: 310px;
	margin-right: 10px;
}

.form-control {
	border: 1px solid #ced4da;
}
.selectbox {
	width: 100px;
}

.form-control:disabled {
	width: 110px;
}
#title {
	margin-bottom: -8px;
}
#dealcontainer {
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
}
#priceAndAI {
	display: flex;	
}
#dealprice {
	display: flex;
}
#dealarea {
	display: flex;
    margin-top: 13px;
    align-items: center;
}
.row {
	margin: 0 auto;
	width: 470px;
	display: flex;
}
#addresssearch {
	margin-left: 10px;
	padding: 2px 4px;
}
.postarea {
	width: 298px;
	height: 38px;
	border: 1px solid #ced4da;
	border-radius: 4px;
	padding: 10px;
}
#btncontainer {
	text-align: center;
	padding-top: 10px;
}

.sellfont {
	font-size: 1rem;
	font-weight: bold;
	width: 5rem;
}

.price {
    align-items: center;
    display: flex;
    width: 14%;
}

.nav-link {
	margin-left: 185px;
}

.btn {
	margin: 3px;
}


/* view */
.content_main {
	height: 100%;
	display: flex;
	justify-content: space-evenly;
}

#viewcontainer {
	height: auto;
	min-height: 100%;
	padding-bottom: 25px;
	width: 900px;
	display: flex;
	flex-direction: column;
	margin: 40px auto 0;
}

.swiper {
	width: 290px;
	height: 290px;
	float: left;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	height: 290px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#content_right {
	display: flex;
	position: relative;
	width: 25%;
	flex-direction: column;
	justify-content: center;
}

.icontent {
	position: absolute;
    top: 67%;
    border-top: solid gray;
    border-bottom: solid gray;
    padding: 20px;
    padding-bottom: 50%;
    height: 500px;
    width: 80%;
}

#ititle {
	margin-bottom: 13px;
}

#sellname {
	margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.letterAndHeart img{
	width: 25px;
}
.letterAndHeart {
	display: flex;
	margin: 3px;
	align-items: center;
}
#letter_img {
	margin-right: 5px;
	cursor: pointer;
}
#heart_img {
	cursor: pointer;
}
#ireview {
	margin-bottom: 5px;
}

#sbtn {
	margin-top: 15px;
}

svg {
	width: 30px;
}

#modifydelete {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#modifydelete a {
	margin-right: 15px;
}


#totalsell{	
	border: 1px solid;
    position: relative;
    left: 17%;
    width: 1191px;
    bottom: -241px;
    top: 480px;
}
.individualtable{
	border: 1px solid;
    width: 1530px;
    position: relative;
    left: -520px;
    top: 502px;
}
#inamelist{
	position: relative;
    left: 0%;
    top: 22px;
}
#icontentlist{
	position: relative;
    left: 7%;
    bottom: 3px;
}
#idatelist{
	position: relative;
    left: 85%;
    width: 152px;
    bottom:26px;
}
#icmtmodify{
	position: relative;
	bottom: 54px;    
    left: 101%
}
#icmtdelete{
	position: relative;
    left: 101%;
    bottom: 54px;
}


.buyapplylist,
.buysharingapplylist {
	background: #0080ff;
	text-align: center;
	cursor: pointer;
}

.none {
	display: none;
}

#btn_chat {
    border: 0;
    background-color: white;
}

#chaticon_img {
	margin-right: 5px;
	cursor: pointer;
}

#icons {
	margin-left: 10px;
}
/* 사진 확대 */
body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
