@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.closet_wrap {
  width: 1000px;
  margin: 100px auto;
  font-size: 10px;
}

.nicname {
  margin-bottom: 30px;
  width: 40%;
  border-top: 5px solid navy;
  text-align: center;
  margin: 0 auto;
  position: absolute;
}

.nicname strong {
  font-size: 3em;
  text-align: center;
}

.title {  
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 25px;
  position: relative;
}

.fname_closet {
  display: initial;
  position: absolute;
  right: 0;
}

#like {
  width: 30px;
      position: relative;
    right: 15px;
}

#letter {
  width: 40px;
  height: 25px;
      position: relative;
    right: 7.5px;
}

#prosetting {
  width: 30px;
}

#clostick1 {
  	margin-top: -40px;
    height: 60px;
    position: relative;
    right: 20px;
}

#clostick2{
  	margin-top: -40px;
    height: 60px;
    position: relative;
    left: 20px;
}

#setting {
	height: 25px;
    position: relative;
    right: -700px;
    top: -55px;
    cursor: pointer;
	
}

.closetImage {
	display: flex;	
}

.closetImage img {
  width: 200px;
}

.self_Introduction {
  display: flex;
  margin-bottom: 10px;
}

.myRecord {
  border-top: 2px solid #ddd; 
  border-bottom: 2px solid #ddd;
  padding: 15px;
  justify-content: space-evenly;
  display: flex;
  font-size: 1.5em;  
}

.introduce {
overflow-y: scroll;
  border-bottom: 2px solid #ddd;
  padding: 50px;
  font-size: 17px;
}

.second {
  width: 100%;
}

.my_Tab {
	padding: 20px;
}

.tabs { 
	display: flex;
  height: 50px;
  border-bottom: 2px solid navy;

}
	
.tabs li {
	flex: 1;
}

.tabs li :first-child a{
  border-left: 1px solid#ddd;
}

.tabs li a {
	 display: block;
  height: 50px;
  border: 1px solid #ddd;
  border-bottom: none;
  font-size: 14px;
  color:#505050;
  text-align: center;
  line-height: 52px;
  text-decoration: none;

}

.tabs li.on a {
position: relative;
  height: 48px;
  border-color: navy;
  border-top-width: 2px;
  line-height: 45px;
  border-bottom: 2px solid#fff;

}

.tab_con {
	margin-top:20px;
	display: none;
	font-size: 24px;
}

.tab_con.on {
	display: block;
	
	}

