@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
li {
	list-style: none;
}

body {
	position: relative;
	min-height: 100vh;
	width: 100%;
}
/*맨 위 사진 부분*/
.news-detail-header-section {
  background-image: url('/image/close-up-volunteer-oganizing-stuff-donation.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
}

/* list */
:root {
  --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
  --gray: #34495e;
  --darkgray: #2c3e50;
}

a {
  text-decoration: none;
  color: inherit;
}

#sharingHtml {
	overflow-y: scroll;
}
#sharingheader {
	margin: 0 auto;
}
#sharingBody {
	min-height: 101%;
}

#sharingList{
  width: 1000px;
  margin: 100px auto;
}

#sharingListSubject {
  margin-bottom: 30px;
  font-size: 45px;
  text-align: left;
  padding: 0;
}

#sigunguSearch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

#sigungu {
  display: flex;
}

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: var(--darkgray);
  background-color: #fff;
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 9em;
  height: 2em;
  border: 1px solid var(--darkgray);
  border-radius: .25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  transition: .25s all ease;
  pointer-events: none;
  color: var(--darkgray);
  line-height: 2em;
  padding-right: 0.5em;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

.search-box {
  width: 200px;
  position: relative;
  display: flex;
	bottom: 0;
	left: 0;
	right: 0;
}

#search_form {
	width: 200px;
	position: relative;
	display: flex;
	bottom: 0;
	left: 0;
	right: 0;
}

.search-input {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 9px 45px 9px 9px;
  background-color: #fff;
  color: #6c6c6c;
  border-radius: 6px;
  border:1px solid #b8c6db;
  transition: all .4s;
}

.search-input:focus {
  border:none;
  outline:none;
  box-shadow: 0 1px 12px #b8c6db;
  -moz-box-shadow: 0 1px 12px #b8c6db;
  -webkit-box-shadow: 0 1px 12px #b8c6db;
}

.search-btn {
  background-color: transparent;
  font-size: 18px;
  padding: 6px 9px;
  margin-left:-45px;
  border:none;
  color: #6c6c6c;
  transition: all .4s;
  z-index: 3;
}

.search-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: black;
}

.search-btn:focus {
  outline:none;
  color:black;
}

#buttonAndSelect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.bt_wrap {
  text-align: left;
  font-size: 0;
}

.bt_wrap a {/*수정,목록 버튼*/
  display: inline-block;
  min-width: 60px;
  padding: 6px;
  border: 1px solid rgb(23,162,184); /*테두리*/
  border-radius: 6px;
  font-size: 1.5rem;
}

.bt_wrap a.on {
  background-color: #17a2b8;
  border-color: #17a2b8; /*등록버튼 색깔*/
  color: white;
}

.bt_wrap a.on:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

.card-list {
  display: flex;
  grid-gap: 1em;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}

.card-list>a {
	height: 370px;
	margin-bottom: 10px;
}

.card, .card-body, .card-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card {
	border-radius: 18px;
	background: #fff;
	box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.4);
	overflow: hidden;
	cursor: pointer;
	transition: transform 0.4s;
	width: 210px;
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.2);
}

.card-image {
	display: block;
	position: relative;
	height: 180px;
	width: 100%;
}

.sharingStatus {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: black;
    opacity: 0.4;
    color: white;
    width: 63%;
    text-align: center;
    font-size: 30px;
    line-height: 2;
    border-radius: 2px;
}

.sharingDealNick {
	display: flex;
	width: 100%;
}

.sharingDealNick img {
	width: 20px;
	margin-right: 3px;
}

.sharingCard-header {
	width: 100%;
	border-bottom: 1px solid rgb(238, 238, 238);
  	text-align: center;
  	padding: 2px;
}

.card-image img {
	max-height: 100%;
	width: 100%;
	background-size: cover;
	object-fit: cover;
}

.card-body {
	padding: 20px 28px;
	width: 100%;
}

.card-body .sdate {
	font-weight: bolder;
}

.card-body h2 {
	font-size: 1.3em;
	margin: 2px auto 12px;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	width: 100%;
}

.card-body p {
	color: gray;
    font-size: 0.9em;
    line-height: 22px;
    text-align: center;
    width: 100%;
}

.card-footer {
	width: 100%;
	display: flex;
	border-top: 1px solid rgb(238, 238, 238);
    text-align: center;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    font-size: 0.9em;
}

.card-footer p {
	font-size: 0.8em;
	margin: 0;
}

.card-footer img {
	width: 20px;
	margin-right: 5px;
}

/* insert */
.scontainer {
	width: 500px;
	margin: 0 auto;
	margin-bottom: 25%;
}
h1 {
	text-align: center;
	padding: 50px;
}

#imgcontainer {
	display: flex;
}

#textarea {
	width: 600px;
}

.form-group {
	display: flex;
	align-items: center;
}

#sel1 {
	width: 100px;
	margin-right: 20px;
}

.form-control {
	border: 1px solid #ced4da;
}

.form-control:disabled {
	width: 110px;
}
#title {
	margin-bottom: -8px;
}
#dealcontainer {
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
}

#dealprice {
	display: flex;
}
#dealarea {
	display: flex;
    margin-top: 13px;
    align-items: center;
    margin-left: 0.5em;
}
#srow {
	width: 100%;
}
.sharingrow {
	margin: 0 auto;
	width: 470px;
	display: flex;
}
#addresssearch {
	margin-left: 10px;
	padding: 0.375rem 0.75rem;
}
.postarea {
	width: 298px;
	height: 38px;
	border: 1px solid #ced4da;
	border-radius: 4px;
	padding: 10px;
}
#btncontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
}
#btncontainer a{
	text-decoration: none;
}
.sellfont {
	font-size: 1rem;
	font-weight: bold;
	width: 5rem;
}
.nav-link {
	margin-left: 185px;
}

.btn {
	margin: 3px;
}
#listbtn {
	background-color: lightgrey;
	border: none;
	padding: 0.43rem 0.75rem;
	border-radius: 0.375rem;
	margin-right: 5px;
}
#listbtn:hover {
	opacity: 0.85;
}
.listbtn {
	border: none;
	border-radius: 0.375rem;
}
.listbtn:hover {
	opacity: 0.85;
}
.buttoncontent {
    width: 6em;
    height: 2.5em;
    border: none;
    background: #D2D2D2;
    color: #fff;
    text-decoration: none;
    border-radius: 9px;
    font-size: 1em;
    margin: 5% 3%;
}

/* view */
.content_main {
    width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-top: 3%;
}

#viewcontainer {
	height: auto;
	min-height: 100%;
	padding-bottom: 25px;
	display: flex;
	flex-direction: column;
	margin: 40px auto;
	margin-bottom: 25%;
}

.swiper {
	width: 290px;
	height: 290px;
	float: left;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	height: 290px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#content_right {
	display: flex;
	position: relative;
	width: 25%;
	flex-direction: column;
	justify-content: center;
}

.scontent {
	position: absolute;
    top: 45%;
    border-top: solid gray;
    border-bottom: solid gray;
    height: 30%;
    width: 1000px;
}

#stitle {
	margin-bottom: 13px;
}

#sharingname {
	margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.sharingnick {
	margin-right: 1em;
}

.letterAndHeart img{
	width: 25px;
}
.letterAndHeart {
	display: flex;
	margin: 3px;
	align-items: center;
}
#letter_img {
	margin-right: 5px;
	cursor: pointer;
}
#heart_img {
	cursor: pointer;
}
#home_img {
	width: 30px;
	height: 30px;
}
#sreview {
	margin-bottom: 5px;
}

#sbtn {
	margin-top: 10px;
	display: flex;
}
#sbtn a{
	text-decoration: none;
} 
svg {
	width: 30px;
}

#modifydelete {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

#modifydelete a {
	margin-right: 15px;
}
#sdetail {
	padding: 4%;
}
#sellarea {
	width: 5rem;
	margin-left: 10px;
}

.applyfirst {
	display: flex;
	align-items: center;
	margin: 1em 0;
}
.applyBox {
	color: #000;
    font-size: 15px;
    background: #eee;
    border-radius: 60px;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    display: inline-block;
    margin-right: 0.5em;
}
.applyCounts {
	font-size: 15px;
	margin-bottom: 0;
}
.buttoncontent {
    width: 6em;
    height: 2.5em;
    border: none;
    background: #5bc1ac;
    color: #fff;
    text-decoration: none;
    border-radius: 9px;
    font-size: 1em;
    margin: 0;
    margin-right: 0.5em;
}
#openclothes {
	background-color: orange;
}
/* Hover state animation applied here */
.buttoncontent:hover { 
  -webkit-animation: hover 1200ms linear 2 alternate;
  animation: hover 1200ms linear 2 alternate;
}

/* Active state animation applied here */
.buttoncontent:active {
  -webkit-animation: active 1200ms ease 1 alternate;
  animation: active 1200ms ease 1 alternate; 
  background: #5F9BE0;
}
.openclothes:active { background: #b9b9b9; }

/* Active state animation keyframes below */

@keyframes active { 
  0% {transform: scale(1,1);}
  90% {transform: scale(.9,.88);}
  100% {transform: scale(.92,.9);}
}

/* Hover state animation keyframes below */
@keyframes hover { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  1.8% { -webkit-transform: matrix3d(1.016, 0, 0, 0, 0, 1.037, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.016, 0, 0, 0, 0, 1.037, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.5% { -webkit-transform: matrix3d(1.033, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.033, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% { -webkit-transform: matrix3d(1.045, 0, 0, 0, 0, 1.129, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.045, 0, 0, 0, 0, 1.129, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.31% { -webkit-transform: matrix3d(1.051, 0, 0, 0, 0, 1.142, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.051, 0, 0, 0, 0, 1.142, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  7.01% { -webkit-transform: matrix3d(1.068, 0, 0, 0, 0, 1.158, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.068, 0, 0, 0, 0, 1.158, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.91% { -webkit-transform: matrix3d(1.084, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.084, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% { -webkit-transform: matrix3d(1.088, 0, 0, 0, 0, 1.132, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.088, 0, 0, 0, 0, 1.132, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.71% { -webkit-transform: matrix3d(1.097, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.097, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.61% { -webkit-transform: matrix3d(1.108, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.108, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% { -webkit-transform: matrix3d(1.114, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.114, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.41% { -webkit-transform: matrix3d(1.115, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.115, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.32% { -webkit-transform: matrix3d(1.119, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.119, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.12% { -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.121, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% { -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.121, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20.02% { -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.121, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.82% { -webkit-transform: matrix3d(1.119, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.119, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% { -webkit-transform: matrix3d(1.115, 0, 0, 0, 0, 1.11, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.115, 0, 0, 0, 0, 1.11, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.53% { -webkit-transform: matrix3d(1.113, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.113, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.23% { -webkit-transform: matrix3d(1.106, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.106, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% { -webkit-transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% { -webkit-transform: matrix3d(1.098, 0, 0, 0, 0, 1.105, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.098, 0, 0, 0, 0, 1.105, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.64% { -webkit-transform: matrix3d(1.097, 0, 0, 0, 0, 1.106, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.097, 0, 0, 0, 0, 1.106, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% { -webkit-transform: matrix3d(1.096, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.096, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.04% { -webkit-transform: matrix3d(1.096, 0, 0, 0, 0, 1.097, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.096, 0, 0, 0, 0, 1.097, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  51.45% { -webkit-transform: matrix3d(1.099, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.099, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% { -webkit-transform: matrix3d(1.099, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.099, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  58.86% { -webkit-transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% { -webkit-transform: matrix3d(1.101, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.101, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  66.27% { -webkit-transform: matrix3d(1.101, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.101, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  73.77% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.18% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  88.59% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

/*무료나눔 댓글*/
#commentcontainer {
	position: relative;
}
.commentcontainer {
	position: relative;
	top: 60%;
}
#totalsharing{	
	border: 1px solid;
    position: relative;
    left: 9%;
    width: 1191px;
    bottom: -530px;
}

#snamelist{
	position: relative;
    left: 0%;
    top: 4px;
    width: 69px;
}
#scontentlist{
	position: relative;
    left: 7%;
    bottom: 17px;
    width: 700px;
    height: 49px;
}
#sdatelist{
	position: relative;
    left: 85%;
    bottom:68px;
    width:150px;
}
#scmtmodify{
	position: relative;
	bottom: 95px;    
    left: 101%
}
#scmtdelete{
	position: relative;
    left: 101%;
    bottom: 95px;
}
.sharingtable{
	width: 81%;
    position: absolute;
    text-align: center;
    border: 3px solid black;
    left: 9%;
    bottom: -800px;
}
/* 사진 확대 */
body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
/*댓글 */
#cname{
	background-color:aliceblue;
	position:relative;
	top:-12px;
	width:100px;
	height:30px;
}

#cmtbtn{
	position:relative;
	top:-12px;
	width:100px;
	height:30px;
}

div#totallist.listtotal{	
    width: 1090px;
    height: 50px;
    position: relative;
    left: 400px;
}

div#csectlist.listcsect{	
    width: 84px;
    height: 35px;
    border: 1px solid;
    position: relative;
    top: 43px;
    left: 100%;
}


div#cnamelist.listcname{
	text-align: left;
    width: 84px;
    height: 35px;
    border: 1px solid;
    position: relative;
    top: 6px;
}

div#ccontentlist.listccontent{
	text-align: center;
    bottom: 30px;
    width: 764px;
    height: 35px;
    border: 1px solid;
    position: relative;
    left: 112px;
}

div#cdatelist.listcdate{
	text-align: right;
    width: 95px;
    height: 35px;
    border: 1px solid;
    position: relative;
    left: 895px;
    bottom: 68px;
}

#modbtn{
	position: relative;
    bottom: 23px;
    height: 27px;
}

#outbtn{
	position: relative;
    width: 56px;
    height: 23px;
    top: 9px;
    right: 58px;

}

.blabel{
	position: relative;
    font-size: 18.5px;
    font-weight: bold;
    margin: 1.5em;
}

.commentBox {
	width: 1100px;
    margin: 0 auto;
    position: relative;
    border: 1px solid var(--bs-gray-300);
}
.commentContent {
	padding: 1em;
}
#ccontent{

	position: relative;
    height: 91px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}
#ccontent:focus {
	outline: none;

}
#bbtn{
	position: relative;
    bottom: 95px;
}

#ubtn{
	position: relative;
    bottom: 0;
    margin: 0 100%;
    transform: translateX(-100%);
    font-size: 15px;
}

#writer{
	position: relative;
    font-size: x-large;
    font-weight: bold;
}

#contentss{
	position: relative;
    font-size: large;
	margin-top: 0.5em;
    margin-bottom: 0.3em;
}
.commentArea {
	border-bottom: 1px solid #ddd;
	padding-bottom: 1em;
}
.commentArea a {
	font-size: 0.7em;
	cursor: pointer;
	color: black;
}
.commentContent .commenta a:before {
	content: '/';
    position: absolute;
    top: 0;
    opacity: 0.3;
}
.commentList {
	margin: 2em 0;
}
.commenta {
	font-size: 2.2em;
}

.commenta a:nth-child(2):before {
	content: '/';
    opacity: 0.3;	
}

.commentregdate {
    font-size: 15px;
    margin-left: 1em;
    color: gray;
}
.deletecmt{
	position: relative;
    width: 42px;
    left: 1099px;
    bottom: 100px;
    height: 26px;
}
.buttoncontent:hover {
	opacity: 0.8;
}
.cccontent {
	display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(128, 128, 128, 0.2);
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.commentmodifybtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.commentbtn2 {
	margin-left: 7px;
}
.cancelbtn {
	background-color: var(--bs-gray-500);
}
