@charset "UTF-8";
	a.sharingItem {
		color: black;	
	}

/* list */
#listcontent h1 {
  text-align: center;
}

#addressAndSearch {
  display: flex;
  justify-content: space-around;
}

#buttonAndOption {
	display: flex;
  	justify-content: space-around;
}

#listcontent {
	padding: 20px;
}
.h-100 {
	border: 1px solid gray;	
	border-radius: 15px;
}

.search {
    margin-bottom: auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    height: 46px;
}

.search-input{

    color: white;
    border:0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;

}

.search .search-input{
    padding: 10px 10px;
    width: 230px;
    caret-color: #536bf6;
    font-size: 21px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear;
}

.search:hover>.search-icon{
    background:#1A237E;
    color:#fff;
}
.search-icon{

    height: 30px;
    width: 30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #536bf6;

}

.address {
	border-top: 1px solid rgb(238, 238, 238);
}

a:link{
    text-decoration: none;
}

.card-img-top {
	width: 100%;
  	height: 100%;
  	object-fit: cover;
  	object-position: center;
}

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    font-size      : 14px;
    min-height     : 100vh;
    width          : 100%;
}

.card-list {
    width                : 100%;
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap             : 4em
}

.card,
.card-body,
.card-footer {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.card {
    border-radius: 18px;
    background   : #fff;
    box-shadow   : 4px 4px 25px rgba(0, 0, 0, 0.4);
    overflow     : hidden;
    cursor       : pointer;
    transition   : transform 0.4s;
}

.card:hover {
    transform : scale(1.05);
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.2);
}

.card-image {
    display  : block;
    position : relative;
    height   : 180px;
    width: 100%;
}

.card-image img {
    max-height     : 100%;
    width          : 100%;
    background-size: cover;
    object-fit: cover;
}

.card-body {
    padding: 20px 28px;
}

.card-body .date {
    font-weight: bolder;
}

.card-body h2 {
    font-size: 1.8em;
    margin   : 2px auto 12px;
}

.card-body p {
    color      : gray;
    font-size  : 1.1em;
    line-height: 22px;
    text-align : center;
}

.card-footer {
    width                : 100%;
    display              : grid;
    border-top: 1px solid rgb(238, 238, 238);
}


      
/* insert */
    h1 {
        text-align: center;
    }
    #imgcontainer {
        display: flex;
    }
    
    #textarea {
        width: 600px;
    }

    .dropdown-toggle {
        border: 1px solid gray;
    }

    #dealcontainer {
        display: flex;
    }
      